/* General layout to include the sidebar */
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Main layout */
.mainLayout {
    display: flex;
    flex-grow: 1;
    width: 100%;
    margin-left: 60px;
    /* Ajuste para afastar o conteúdo da sidebar */
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    flex: 1;
    /* Garante que o conteúdo principal ocupe o restante do espaço */
}

.pageHeader {
    text-align: right;
    margin-right: -25px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 37px;
    margin-left: -10px;
    margin-right: -60px;
}

.logoText {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sapjText {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.lawSoftwareText {
    font-size: 12px;
    color: #ddd;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 15px;
}

.editButton,
.logoutButton {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover,
.logoutButton:hover {
    background-color: #d35400;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userIcon,
.contactIcon {
    font-size: 18px;
}

/* Sidebar */
.sidebar {
    width: 60px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    height: calc(100vh - 60px);
    position: fixed;
    /* Torna a sidebar fixa na tela */
    left: 0;
    top: 60px;
    /* Começa após o header */
    transition: width 0.3s;
}

.sidebarIcon {
    display: flex;
    align-items: center;
    padding: 35px 20px;
    color: white;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebarIcon:hover {
    background-color: #444;
}

.sidebarIcon span {
    display: none;
    transition: display 0.3s;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover .sidebarIcon span {
    display: inline;
}



/* Main Content */
.processForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.processForm label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
}

.processForm input,
.processForm select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.submitButton {
    background-color: #e67e22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #d35400;
}

/* Responsividade */
@media (max-width: 1024px) {
    .processForm {
        width: 90%;
    }

    .processForm input,
    .processForm select {
        font-size: 12px;
        padding: 8px;
    }

    .submitButton {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .processForm {
        width: 95%;
    }

    .submitButton {
        font-size: 12px;
        padding: 6px 12px;
    }
}