html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Main Layout */
.mainLayout {
    display: flex;
    flex-grow: 1;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fixed;
    background-color: #000;
    color: white;
    padding: 10px 20px;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 37px;
    margin-left: -10px;
    margin-right: -60px;
}

.logoText {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.sapjText {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.lawSoftwareText {
    font-size: 12px;
    color: #ddd;
    /* Cor mais clara */
}


.headerRight {
    display: flex;
    align-items: center;
    gap: 15px;
}

.editButton,
.logoutButton {
    background-color: #e67e22;
    /* Alterado para laranja queimado */
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.editButton:hover,
.logoutButton:hover {
    background-color: #d35400;
    /* Tom mais escuro de laranja */
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userIcon,
.contactIcon {
    font-size: 18px;
}

/* Sidebar */
.sidebar {
    width: 60px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 20px;
    height: calc(100vh - 60px);
    transition: width 0.3s;
}

.sidebarIcon {
    display: flex;
    align-items: center;
    padding: 35px 20px;
    color: white;
    gap: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.sidebarIcon:hover {
    background-color: #444;
}

.sidebarIcon span {
    display: none;
    transition: display 0.3s;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover .sidebarIcon span {
    display: inline;
}

/* Main Content */
.mainContent {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    flex-grow: 1;
    overflow: auto;
}

/* Cards Container */
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

/* Card */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    max-height: 300px;
    overflow: hidden;
    width: 20%;
    margin-top: 40px;
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-5px);
}

.cardIcon {
    font-size: 50px;
    margin-top: -20px;
    color: #e67e22;
    /* Alterado para laranja queimado */
}

.cardButton {
    background-color: #e67e22;
    /* Alterado para laranja queimado */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 55px;
}

.cardButton:hover {
    background-color: #d35400;
    /* Tom mais escuro de laranja */
}

/* Responsividade */
@media (max-width: 1024px) {
    .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}